@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-color:#e4c78e;
    --black: #123;
    --bg:#030104;
    --border:.1rem solid rgba(255,255,255,0.3);
}

*{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background:var(--bg) ;
}
section{
    padding:2rem 7%;
}
.heading{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    padding-bottom: 2rem;
    font-size: 4rem;
    margin-top: 3rem;
    text-decoration: underline;
}
.heading span{
    color:var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 2rem;
    color:#fff;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.4);
}
.header{
    background:#131213c9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header .logo {
    width: 100%;
    max-width: 100px;
    height: 7rem;
}
.header .navbar a{
    margin: 0 1rem;
    font-size: 2rem;
    color: #fab52a;
}
.header .navbar.active{
    right:0;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}

#menu-btn{
    display: none;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items:center;
    background: url('Images/R8/full-image.png');
    background-repeat: no-repeat;
    background-size: 29.5%;
    background-position-x: right;
    background-position-y: 20vh;
    border-bottom: var(--border);
}
.home .content{
    max-width: 60rem;
    margin: 5rem 0 0 5rem;
}
.home .content h3{
    font-size: 8rem;
    text-transform: uppercase;
    color: #f1dbad;
}
.home .content p{
    font-size: 3rem;
    font-weight: lighter;
    line-height: 1.8;
    padding:1rem 0;
    color: #eee;
}
.home .content .btn{
    text-transform: none;
}
.about{
    background: transparent;
    border-bottom: var(--border);
    padding-top: 1rem;
}
.about .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    height: auto;
}
.about .heading{
    margin-bottom: -3rem;
}
.about .row .content{
    width:100%;
    padding: 2rem;
    font-size: 3rem;
}
.about .row .content h3{
    font-size: 3rem;
    color:#fff;
}
.about .row .content p{
    font-size:1.6rem;
    color:#ccc;
    padding: .5rem;
    line-height: 1.1;
    text-transform:none;
    text-align:justify;
}
.about .row .continueBtn{
    display: flex;
    justify-content: center;
}
.menu{
    border-bottom: var(--border);
}
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.menu .box-container .box{
    padding: 2rem;
    text-align: center;
    border: var(--border);
}
.menu .box-container .box img{
    height:20rem;
    width: 100%;
}

.menu .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: -1rem;
}
.menu .box-container .box h3 span{
    font-size: 1.5rem;
    font-weight: lighter;
}
.menu .box-container .box .price{
    color:#fff;
    font-weight: lighter;
    font-size: 1.6rem;
    padding: .5rem 0;
}
.menu .box-container .box .price span{
    font-size: 2rem;
    font-weight: normal;
}
.menu .box-container .box:hover{
    background: #ddd;
    color: var(--black);
}
    
.review{
    background:transparent;
    border-bottom: var(--border);
}
.review p{
    color: var(--main-color);
    margin-bottom: 2rem;
    font-size: 1.3rem;
    text-transform: none;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap:1.5rem;
}
.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}
.review .box-container .box p{
    font-size: 2rem;
    color:#ddd;
    padding: 2rem 0;
}
.review .box-container .box .user{
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -3rem;
}

.review .box-container .box h3{
    padding: 1rem 0;
    font-size: 2rem;
    color: #eee;
}
.review .box-container .box .skill{
    background: #aaa;
    width:100%;
    font-size: 1.5rem;
    border-radius: 10px;

}
.review .box-container .box .skill .rating{
    background: #1deb2e;
    height: 100%;
    border-radius: inherit;
}
.java{
    width: 85%;
}
.javascript{
    width: 75%;
}
.csharp{
    width: 85%;
}
.cpp{
    width: 70%;
}
.html{
    width: 85%;
}
.css{
    width: 85%;
}
.python{
    width: 60%;
}
.sql{
    width: 80%;
}
.asp{
    width: 80%;
}
.education{
    border-bottom: var(--border);
}
.education .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    gap:1.5rem;
}
.education .box-container .box{
    padding: 2rem;
    text-align: center;
    border: var(--border);
}
.education .box-container .box img{
    height:20rem;
    width: 100%;
}
.education .box-container .box .edu_info{
    height:15vh;
}
.education .box-container .box h3{
    color:#fff;
    font-size: 2rem;
    padding: 1rem 0;
    margin-bottom: -1rem;
}
.education .box-container .box h3 span{
    font-size: 1.5rem;
    font-weight: lighter;
}
.education .box-container .box .price{
    color:#fff;
    font-weight: lighter;
    font-size: 1.6rem;
    padding: .5rem 0;
}
.education .box-container .box .price span{
    font-size: 2rem;
    font-weight: normal;
}
.education .box-container .box:hover{
    background: #ddd;
    color: var(--black);
}
.education .box-container .box img:hover{
    
    transform: scale(2.2);
}

.contact{
    border-bottom: var(--border);
    padding-top: .1rem;
}
.contact .row{
    display: flex;
    background: transparent;
    flex-wrap: wrap;
    gap:1rem;
}
.contact .row .map{
    flex : 1 1 45rem;
    width:100%;
    object-fit: cover;
}
.contact .row form{
    flex:1 1 45rem;
    padding:5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color:#fff;
    text-transform: none;
    background: none;
}
.footer{
    background:var(--black);
    text-align: center;
}
.footer .share{
    padding: 1rem;
}
.footer .share a{
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#ddd;
    border: var(--border);
    margin: 3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
    color: var(--bg);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding:.7rem 2rem;
    color: #ddd;
    border: var(--border);
    font-size:2rem;
}
.footer .links a:hover{
    background-color: var(--main-color);
    color: var(--bg);
}
.footer .credits{
    font-size: 2rem;
    color: #ddd;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credits span{
    color: var(--main-color);
}







/*Media queries*/
@media (max-width:990px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}

@media (max-width:760px){
   .header .navbar a{
       font-size: 3vw;
       margin:0.1vw;
       border-left: var(--border);
   }
   
   .home{
       background-position: left;
       justify-content: center;
       text-align: center;
   }
   .home .content h3{
       font-size: 9vh;
   }
   .home .content p{
        font-size: 4.5vh;
    }
    .home{
        min-height: 100vh;
        display: flex;
        align-items:center;
        background: none;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position:absolute;
        top:100%;
        right:-200%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .header .navbar a{
        color: var(--black);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }   
}
